<!--<footer class="page-footer font-small bg-primary fixed-bottom">
  <a href="/contact">Contact</a>
  <a href="/careers">Careers</a>
  <a href="/manage/login">Employee Login</a>
  <small>&copy; Group D Mexican Grill</small>
  <small><a href="/terms">Terms of Use</a></small>
  <small><a href="/privacy">Privacy Policy</a></small>
</footer>
</body>
</html>-->


<footer class="page-footer font-small bg-dark fixed-bottom">

  <div class="container text-center text-md-left">

    <div class="row">

      <div class="col-md-3 mx-auto">

        <a href="#"><h5 class="font-weight-bold mt-3 mb-4 text-white">CONTACT SUPPORT</h5></a>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">

        <a href="#"><h5 class="font-weight-bold mt-3 mb-4 text-white">CAREERS</h5></a>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">

        <a href="#"><h5 class="font-weight-bold mt-3 mb-4 text-white">EMPLOYEE LOGIN</h5></a>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-right py-3 text-white">© 2021 Copyright:
    <a href="#">Group D Mexican Grill</a>
  </div>

  <div>
  <a href="#">Terms of Use</a>
    <a href="#">Privacy Policy</a>
  </div>
</footer>

