<div class="push"></div>
<footer class="fixed-bottom">
  <section class="container text-center">
    <div class="row">
      <a class="col-md-3 mx-auto" href="contact">Contact Support</a>
      <a class="col-md-3 mx-auto" href="careers">Careers</a>
      <a class="col-md-3 mx-auto" href="#employeeLogin">Employee Login</a>
      <a class="col-md-3 mx-auto" href="#customerLogin">Customer Login</a>
    </div>
  </section>
  <div class="legal d-flex">
    <span class="copyright">&copy; 2021 Copyright: Group D Mexican Grill</span>
    <a href="terms">Terms of Use</a>
    <a href="privacy">Privacy Policy</a>
  </div>
</footer>
</body>
</html>
