<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel='stylesheet' href='styles/base.css'>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="/">
      <img src="images/logo-white.png" alt="Logo" width="40px">
    </a>
    <ul class="navbar-nav mx-auto center">
      <li class="nav-item">
        <a class="nav-link" href="#">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rewards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mission</a>
      </li>
    </ul>
    <a class="nav-link link-black link-round" href="#">Sign In</a>
    <a href="#">
      <img src="images/cart.png" alt="Cart" width="40px">
    </a>
  </nav>
