<% include partials/header.html %>

<div class="index">
  <header>
    <h2>Contact Us</h2>
  </header>
  <main class="container">
    <h1>Contact Us</h1>
    <p>If you have any questions, you can contact us:</p>
    <p>By email: groupdmexicangrill@groupd.com</p>
    <p>
      By visiting this page on our website:
      <a
        href="http://www.groupdmexicangrill.com"
        rel="external nofollow noopener"
        target="_blank"
        >http://www.groupdmexicangrill.com</a
      >
    </p>
  </main>
</div>

<% include partials/footer.html %>
