<% include partials/header.html %>

<div class="index">
  <header>
    <h2>Enjoy your favorites.</h2>
    <img src="images/logo-black.png" alt="Logo" width="100px">
    <a href="menu"><span class="link-white">Order Now</span></a>
  </header>
  <main class="container">
    <ul class="row row-cols-3">
      <% categories.forEach(function(category){ %>
      <li class="col">
        <a href="menu">
        <figure>
          <img src="<%= category.image %>" alt="<%= category.name %>" height="150px">
          <figcaption>
            <span class="link-black"><%= category.name %></span>
          </figcaption>
        </figure>
        </a>
      </li>
      <% }) %>
    </ul>
  </main>
</div>
<% include partials/footer.html %>
