<% include partials/header.html %>

<header>
  <h2>Our Mission</h2>
</header>
<main class="container">
  <body>
    <p>
      Group D Mexican Grill was established amongst four unique individuals
      during the arduous winter month of January 2021. What began as a simple
      idea to provide high-end fast food to ravenous patrons blossomed into a
      full working organization that supplies both phenomenal food and the
      implementation of a convenient inventory management software application
      that not only keeps track of ingredients, materials, etc., but also,
      tracks pricing for individual ingredients and the affordable menu items
      that are offered. Though moderately new to the food scene, we strive to
      set ourselves apart from other chain restaurants. Group D Mexican Grill
      attributes its success to the made to order menu that includes tacos,
      burritos, burrito bowls, etc., made with the most sustainable and fresh
      ingredients. We pride ourselves in not only providing a superb range of
      foods to choose from but also at an affordable price with a team that
      caters to all.
    </p>
  </body>
</main>

<% include partials/footer.html %>
