<% include partials/header.html %>
<div class = index>
    <header>
        <h2>Order</h2>
    </header>
    <main class="container">
        <body>
        <table>
            <% items.forEach(function(menuItem){ %>
            <tr><th></th>
            </tr>

            <tr>
                <th><span class="link-black"><%= menuItem.name %></span>
                    <span>$<%= menuItem.price %></span>
                    <img src="<%= menuItem.image %>" alt="<%= menuItem.image %>" height="150px"></th>
                <td>
                </td>
                <th></th>

                <th>Quantity: <input id=Input type=number min=0 max=100></th>
            </tr>

            <% }) %>
            <tr></tr>

        </table>

        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-dark btn-lg btn-block">Add Order</button>
        </div>
        </body>
    </main>
</div>

<% include partials/footer.html %>
