<% include partials/header.html %>
<div class = index>
    <header>
        <h2>Order</h2>
    </header>
    <main class="container">
        <body>
        <table>
            <% items.forEach(function(menuItem){
            if( menuItem.category == "entree"){
            %>

            <tr><th></th>
            </tr>

            <tr>
                <th><span class="link-black"><%= menuItem.name %></span>

                        <span>$<%= menuItem.price %></span>
                        <img src="<%= menuItem.image %>" alt="<%= menuItem.image %>" height="150px">

                <td> <a href="items"><button type="button" class="btn btn-dark btn-lg btn-block">Add Item</button></a>

                </td>

            </tr>
            <% }
            else{%>
            <tr><th></th>
            </tr>

            <tr>
                <th><span class="link-black"><%= menuItem.name %></span>

                    <span>$<%= menuItem.price %></span>
                    <img src="<%= menuItem.image %>" alt="<%= menuItem.image %>" height="150px">

                <td><button type="button" class="btn btn-dark btn-lg btn-block">Add Item</button>

                </td>

            </tr>


            <% }
            }) %>

        </table>
        <div class="col-md-12 text-center">
            <a href="/order/1/cart">
                <button type="button" class="btn btn-dark btn-lg btn-block">Go to Cart</button>
            </a>
        </div>
        </body>
    </main>
</div>

<% include partials/footer.html %>
