<% include partials/header.html %>
<div class = index>
    <header>
        <h2>Order</h2>
    </header>
    <main class="container">
        <body>
        <table>
            <% items.forEach(function(menuItem){ %>
            <tr><th></th>
            </tr>

            <tr>
                <th><span class="link-black"><%= menuItem.name %></span>

                        <span>$<%= menuItem.price %></span>
                        <img src="<%= menuItem.image %>" alt="<%= menuItem.image %>" height="150px">

                <td> <a href="items"><button type="button" class="btn btn-dark btn-lg btn-block">Add Item</button></a>

                </td>

            </tr>
            <% }) %>

        </table>
        </body>
    </main>
</div>

<% include partials/footer.html %>
