@font-face {
  font-family: 'Almond Nougat';
  src: url('../fonts/almond_nougat.ttf');
}

body {
  font-family: "Almond Nougat";
  font-size: 20pt;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

header > * {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header h2 {
  color: white;
  font-size: 1.5em;
}

ul {
  list-style: none;
  margin: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link-black {
  background-color: black;
  color: white;
}

.link-white {
  background-color: white;
  color: red;
}

.link-black,
.link-white {
  font-weight: bold;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
}

.link-round {
  border-radius: 25%;
}

/* header */
nav a {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

nav .link-black {
  font-size: 0.7em;
}

/* footer */
footer {
  background-color: black;
}

footer,
footer a {
  color: white;
}

footer section {
  font-size: 0.8em;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer section a {
  text-transform: uppercase;
}

footer .legal {
  font-size: 0.6em;
}

footer .legal > * {
  margin: 5px;
}

footer .copyright {
  margin-right: auto;
}

/* index styles */
.index figcaption {
  text-align: center;
}

.index img,
.order img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table{margin-left:auto;
  margin-right:auto;
  width: 90%;
  border-spacing: 0;
  background-color: white;
}

td, th{padding:10px;}

tr:nth-of-type(even){
  background-color: lightgrey;
}

.push {
  height: 100px;
}

