@font-face {
  font-family: 'Almond Nougat';
  src: url('fonts/almond_nougat.ttf');
}

body {
  font-family: "Almond Nougat";
}

nav a {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.link-black {
  background-color: black;
  border-radius: 25% 25% 25% 25%;
  color: white;
  font-size: 0.7em;
  padding: 4px;
}
